@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-SemiBold.ttf");
  font-weight: 600;
}
