$main-green-dark: hsl(83, 21%, 42%);
$main-green: hsl(82, 18%, 51%);
$main-green-light: hsl(84, 21%, 57%);
$secondary-green-dark: hsl(86, 30%, 70%);
$secondary-green: hsl(72, 59%, 71%);
$secondary-green-light: hsl(88, 57%, 91%);

$main-dark: hsl(246, 37%, 16%);

$main-green-dark-05: hsla(84, 21%, 42%, 0.5);

$error-color: rgb(170, 38, 38);

$big-br: 1rem;
$small-br: 0.5rem;
$padding: 0.5rem 0.75rem;
$transition: 0.5s;
